<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dumkal College - UG Online Application Process</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/pattern.png);
}
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}
.style2 {
	font-size: 36px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}
.style3 {font-size:32px; border:2px solid #000000; padding:0px 3px 0px 3px; background-color:#000000; color:#FFFFFF;}
.style4 {font-size: 32px; border:2px solid #000000; padding:0px 8px 0px 3px; background-color:#666666; color:#FFFFFF;}
.style5 {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}
.style19 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}
.style20 {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.style22 {font-size: 12; font-family: Arial, Helvetica, sans-serif; }
.style23 {font-size: 12}
-->
</style></head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="25" align="center" valign="middle" bgcolor="#333333"><span class="style1">Important : Use Google Chrome Browser only. To see the changes (if any) please press Control + F5 to refresh</span></td>
  </tr>
  <tr>
    <td height="150" align="center" valign="middle" bgcolor="#FFFFFF"><img src="images/logo_dumkalcollege.jpg" width="750" height="108" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#FFFFFF"><span class="style2"><span class="style3">&#x270d;</span><span class="style4">&nbsp;ONLINE APPLICATION PROCESS</span></span></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td height="36" align="center" valign="middle" bgcolor="#FFFFFF"><span class="style19"><a href="index.html">&#10094;&#10094;&#10094;&nbsp;&nbsp;BACK TO PREVIOUS PAGE</a></span></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#FFFFFF"><table width="722" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
      <tr>
        <td height="40" align="center" valign="middle" bgcolor="#000000"><span class="style5">STEP - 2 : B.A. Honours 2015-16</span></td>
      </tr>
      <tr>
        <td height="400" align="center" valign="middle" bgcolor="#EAEAEA"><table width="625" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="280" height="30" align="right" valign="middle"><span class="style20">Please choose your HONOURS Subject</span></td>
            <td width="37" height="30" align="center" valign="middle"><span class="style22">:</span></td>
            <td height="30" colspan="2" align="left" valign="middle"><select style="width:240px; height:30px; outline:none;">
              <option selected="selected">Select Here</option>
              <option>Bengali</option>
              <option>English</option>
              <option>History</option>
              <option>Philisophy</option>
              <option>Political Science</option>
            </select></td>
          </tr>
          <tr>
            <td height="30" align="right" valign="middle">&nbsp;</td>
            <td height="30" align="center" valign="middle"><span class="style23"></span></td>
            <td height="30" colspan="2" align="left" valign="middle"><span class="style20">Note : <a href="#">Check Honours Criteria</a></span></td>
          </tr>
          <tr>
            <td height="30" align="right" valign="middle"><span class="style20">Please choose your BOARD / COUNCIL</span></td>
            <td height="30" align="center" valign="middle"><span class="style23"><span class="style22">:</span></span></td>
            <td height="30" colspan="2" align="left" valign="middle"><select name="select" style="width:240px; height:30px; outline:none;">
              <option selected="selected">Select Here</option>
              <option value="01">West Bengal Council of Higher Secondary Education (WBCHSE)</option>
	<option value="02">Central Board of Secondary Education (CBSE), Delhi</option>
	<option value="03">Council for Indian School Certificate Examinations (ISCE), New Delhi</option>
	<option value="04">National Institute of Open Schooling (formerly National Open School), New Delhi</option>
	<option value="05">Gujrat Secondary &amp; Higher Secondary Education Board, Gandhinagar</option>
	<option value="06">Hariyana Board of Education, Hansi Road, Bhiwani</option>
	<option value="07">Himachal Pradesh Board of School Education, Dharmasala</option>
	<option value="08">J &amp; K State Board of School Education, Jammu</option>
	<option value="09">Karnataka Secondary Education Examination Board, Bangalore</option>
	<option value="10">Goa Board of Secondary and Higher Secondary Education</option>
	<option value="11">Kerala Board of Higher Secondary Education, Thiruvananthapuram</option>
	<option value="12">Maharashtra State Board of Secondary &amp; Higher Secondary Education, Pune</option>
	<option value="13">Madhya Pradesh Board of Secondary Education, Bhopal</option>
	<option value="14">Manipur Council of Higher Secondary Education, Imphal</option>
	<option value="15">Orissa Council of Higher Secondary Education, Bhubaneswar</option>
	<option value="16">Rajasthan Board of Secondary Education, Ajmer</option>
	<option value="17">Kerala Board of Higher Secondary Education</option>
	<option value="18">Tamilnadu Board of Higher Secondary Education, Chennai.</option>
	<option value="19">Board of Secondary Education, Madhya Pradesh</option>
	<option value="20">Tripura Board of Secondary Education, Agartala, Tripura West</option>
	<option value="21">U.P. Board of High School &amp; Intermediate Education, Allahabad</option>
	<option value="22">Rabindra Mukta Vidyalaya (W. B. State Open School)</option>
	<option value="23">West Bengal Board of Madrasha Education</option>
	<option value="24">Bihar Intermediate Education Council, Patna</option>
	<option value="25">Andhra Pradesh Board of Secondary Education, Hyderabad</option>
	<option value="26">Assam Higher Secondary Education Council, Bamunimaidan, Guwahati</option>

                        </select></td>
          </tr>
          <tr>
            <td height="20" align="right" valign="middle">&nbsp;</td>
            <td height="20" align="center" valign="middle"><span class="style23"></span></td>
            <td height="20" colspan="2" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="30" align="right" valign="middle"><span class="style20">Please choose your 10+2 Stream</span></td>
            <td height="30" align="center" valign="middle"><span class="style23"><span class="style22">:</span></span></td>
            <td height="30" colspan="2" align="left" valign="middle"><select name="select2" style="width:240px; height:30px; outline:none;">
              <option selected="selected">Select Here</option>
              <option>Arts</option>
              <option>Science</option>
              <option>Commerce</option>
                        </select></td>
          </tr>
          <tr>
            <td height="20" align="right" valign="middle">&nbsp;</td>
            <td height="20" align="center" valign="middle"><span class="style23"></span></td>
            <td height="20" colspan="2" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="30" align="right" valign="middle"><span class="style20">Please choose your Caste Category</span></td>
            <td height="30" align="center" valign="middle"><span class="style22">:</span></td>
            <td height="30" colspan="2" align="left" valign="middle"><select name="select3" style="width:240px; height:30px; outline:none;">
              <option selected="selected">Select Here</option>
              <option>General</option>
              <option>SC</option>
              <option>ST</option>
              <option>OBC-A</option>
              <option>OBC-B</option>
                        </select></td>
          </tr>
          <tr>
            <td height="20" align="right" valign="middle">&nbsp;</td>
            <td height="20" align="center" valign="middle">&nbsp;</td>
            <td height="20" colspan="2" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="30" align="right" valign="middle"><span class="style20">Honours or related subject marks in 10+2</span></td>
            <td height="30" align="center" valign="middle"><span class="style22">:</span></td>
            <td height="30" colspan="2" align="left" valign="middle"><input name="" type="text" style="width:228px; height:20px; outline:none; padding:4px;" /></td>
          </tr>
          <tr>
            <td height="20" align="right" valign="middle">&nbsp;</td>
            <td height="20" align="center" valign="middle">&nbsp;</td>
            <td height="20" colspan="2" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="30" align="right" valign="middle"><span class="style20">Please choose if you are a Physically Challenged</span></td>
            <td height="30" align="center" valign="middle"><span class="style22">:</span></td>
            <td height="30" colspan="2" align="left" valign="middle"><select name="select4" style="width:240px; height:30px; outline:none;">
              <option selected="selected">Select Here</option>
              <option>NO</option>
              <option>YES</option>
                        </select></td>
          </tr>
          <tr>
            <td height="20" align="right" valign="middle">&nbsp;</td>
            <td height="20" align="center" valign="middle">&nbsp;</td>
            <td height="20" colspan="2" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="30" align="right" valign="middle">&nbsp;</td>
            <td height="30" align="center" valign="middle">&nbsp;</td>
            <td width="81" height="30" align="left" valign="middle"><input name="Reset" type="button" value="Reset" style="outline:none; background-color:#00CCFF; border:1px solid #0099FF; height:28px; width:60px; cursor:pointer;" /></td>
            <td width="227" align="left" valign="middle"><input name="Submit" type="button" value="Proceed to Next Step" style="outline:none; background-color:#00CC66; border:1px solid #009966; height:28px; width:160px; cursor:pointer;" /></td>
          </tr>
        </table></td>
      </tr>
      

    </table></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  
  <tr>
    <td height="50" align="center" valign="middle" bgcolor="#333333"><span class="style1">© 2015 Dumkal College | All Rights Reserved. Powered by Projukti.</span></td>
  </tr>
</table>
</body>
</html>
