<p>The University of Kalyani</p>

<p>Rules for Admission to the Three-Year B.A./ B.Sc./ B.Com.(Honours, General and Major) Courses of Studies effective from the Academic Session 2007-2008</p>

<p><b> (Amended upto 27/05/2009 )</b></p>

<p><b>Admission Qualifications</b></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Eligibility &amp; Recognised Boards</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b>1.</b> A candidate may be admitted to the first year of three-year B.A./ B.Sc./ B.Com.(Honours/ General/ Major) Courses of Studies on passing Higher Secondary (10+2) Examination in General or Vocational Stream conducted by the West Bengal Council of Higher Secondary Education or an equivalent examination conducted by other State Board / Council, or, Rabindra Mukta Vidyalaya, or, National Open School recognized by the Distant Learning Council <b>subject to fulfillment of the conditions mentioned below</b>:</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Candidates from ‘other’ Boards</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>In case of other Boards/ Councils, a candidate shall have to pass in five recognized subjects, of which one shall be English, of full marks not being less than 100 each. A candidate passing in four subjects shall not be eligible for admission.</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Candidates </i></b></p>

<p><b><i>from Vocational Stream</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Candidates passing Higher Secondary examination from vocational stream conducted by the West Bengal Council of Higher Secondary Education or any other equivalent board/council are eligible for admission only in General and Major courses (and not in Honours courses) provided that the candidate must have passed in 5 (five) recognised subjects, of which one shall be English, in the previous qualifying examination. </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Permissible chances of admission</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b>2.</b> Candidates shall be allowed for admission within 3 (three) consecutive academic sessions including the year of passing the previous qualifying examination.</p>

<p>( For example : candidates passing H.S. Examination in the year 2007 will get last chance of admission in the academic session 2009-2010.)</p>

<p><b>3. A candidate taking up Honours Course in a subject must have obtained:</b></p>

<p><b>(I)</b> A minimum of <b>45%</b> marks in aggregate and<b> 55%</b> marks in the subject or </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Eligibility for pursuing Honours Course of</i></b> <b><i>studies</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>related subject at the previous qualifying examination.</p>

<p><b>Or</b></p>

<p><b> (II) 50%</b> marks in aggregate and <b>45%</b> marks in the subject or related subject </p>

<p>at the previous qualifying examination.</p>

<p><b>Or</b></p>

<p><b>(III) 55%</b> marks in aggregate when the candidate has not studied the subject or any related subject in his /her previous qualifying examination provided all other clauses are satisfied (especially Rule 5).</p>

<p><b><i>Page 1 of 11</i></b></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p><b>3.(a).</b> However, candidates belonging to the Schedule Caste or Schedule Tribe </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Relaxation </i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Community taking up Honours Course of Study shall enjoy 5% relaxation in </p>

<p>marks in (I), (II) &amp; (III) above, as the case may be.</p>

<p><b>Explanation</b>: </p>

<p>(i) Aggregate means the sum of marks of best scored five (5) subjects excluding compulsory<b><sup></sup></b> Environmental Education/ Environmental Science<b><sup>*</sup></b>/ Environmental Studies<b><sup></sup></b>. Also for old candidates (i.e., candidates passing H.S. examination before 2007) aggregate will be calculated in similar manner (i.e., on the basis of best scored five subjects) without deducting any marks for the ‘Optional Elective Subject’ (if any)<b><sup>#</sup><sup> </sup></b>.</p>

<p>(ii) While calculating such aggregate full marks of each such subject will be scaled down to 100 wherever needed.</p>

<p><b>4.(a).</b> Admission will be strictly on the basis of merit. Merit list will be prepared </p>

<p>uniformly on the basis of the following criteria :</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p>Merit List</p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>(i) In case of Honours courses : Aggregate (as per previous explanation) plus the marks obtained in the subject in which he/she intends to take up honours or related subject. However, students who avail themselves of the Rule 3(III) will not get the benefit of ‘related subject’.</p>

<p>(ii) In case of Major and General courses : Merit list will be prepared on </p>

<p>the basis of aggregate.</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Publication of Merit List</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b> 4.(b).</b> For admission to Honours courses complete list of all applicants according to merit to be published at the first instance and admission be done preferably through counseling in accordance with the intake capacity.</p>

<p><b>4.(c).</b> For admission to Major and General courses list of applicants in order of merit </p>

<p>to be published in accordance with the intake capacity.</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>More than one candi-date at the same merit position</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b>4.(d).<sup></sup></b> While admitting candidates from the merit list if it is found at some point of time that the approved intake is likely to be breached due to sharing of the same merit position by more than one candidate then in that case all the candidates at that particular merit position may be admitted subject to prior approval of the Vice-Chancellor and the excess admission will be granted only for that year. </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Choice of Subjects</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b>5.</b> For the B.A. &amp; B.Sc. (Honours, General and Major) Course of Studies a candidate is required to choose his/her Honours and two/three elective subjects, as the case may be, from among <b>Groups I</b> to <b>VIII</b> below by taking not more than one subject from any of the groups mentioned hereunder.</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Groups of Subjects</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b> Groups:</b></p>

<p><b>Gr. I</b> : Physics, Zoology, Education, Film Studies, Physical Education.</p>

<p><b>Gr. II</b> : Mathematics, History.</p>

<p><b> <sup> </sup>As amended/incorporated on 16/05/2008.</b></p>

<p><b>* As amended on 06/06/2007.</b></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td> <h6>Page 2 of 11</h6>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b># As amended on 11/06/2007. </b></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p><b>Gr. III</b> : Arabic<b><sup></sup></b>, Chemistry, Defence Studies, Sanskrit, Sociology. </p>

<p><b> Gr. IV</b> : Botany, Economics, Food and Nutrition<b><sup>$</sup></b>.</p>

<p><b>Gr. V</b> : Environmental Science<b><sup></sup></b>, Political Science. </p>

<p><b>Gr. VI</b> : Geography, Microbiology, Molecular Biology, Molecular Biology &amp; </p>

<p>Biotechnology, Media Studies, Philosophy.</p>

<p><b> Gr. VII</b> : Physiology, Statistics, English.</p>

<p><b>Gr. VIII</b> : Computer Science, Bengali, Hindi, Urdu.</p>

<p><b>6.</b> A candidate shall be allowed to take up the subject(s) under heading ‘(A)’ at both </p>

<p>Honours and General level if he/she had passed the subject(s) under heading ‘(B)’ </p>

<p>at the previous qualifying examination.</p>

<table border="1" cellspacing="0" cellpadding="0" > 
<tbody>
<tr>
<td valign="top" ><p><b> A</b></p></td>
<td valign="top" ><p><b> B</b></p></td>
</tr>

<tr>
<td valign="top" ><p>1. Botany</p></td>
<td valign="top" ><p>1. Biological Science</p></td>
</tr>

<tr>
<td valign="top" ><p>2. Chemistry</p></td>
<td valign="top" ><p>2. Chemistry</p></td>
</tr>

<tr>
<td valign="top" ><p>3. Computer Science</p>

</td>
<td valign="top" ><p>3. Computer Application/Computer Science /</p>

<p>Physics and Mathematics</p></td>
</tr>

<tr>
<td valign="top" ><p>4. Environmental Science<b><sup></sup></b></p></td>
<td valign="top" ><p>4.<b><sup></sup></b>Any three of the following subjects: Biological Science, Chemistry, Computer Science, Economics, Elective Environmental Education / Environmental Science / Environmental Studies, Geography, Geology, Mathematics, Modern Computer Application, Physics and Statistics</p></td>
</tr>

<tr>
<td valign="top" ><p>5. Food and Nutrition<b><sup>$</sup></b></p></td>
<td valign="top" ><p>5. Chemistry or Food &amp; Nutrition or Home Science</p></td>
</tr>

<tr>
<td valign="top" ><p>6. Mathematics</p></td>
<td valign="top" ><p>6. Mathematics</p></td>
</tr>

<tr>
<td valign="top" > <table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Requirement of studying subject(s) at H.S. (plus two) Level</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>7. Microbiology</p></td>
<td valign="top" ><p>7. Biological Science, Chemistry and </p>

<p>Mathematics/ Statistics / Computer Science/ </p>

<p>Computer Application<b><sup>*</sup></b></p></td>
</tr>

<tr>
<td valign="top" ><p>8. Molecular Biology</p></td>
<td valign="top" ><p>8. Biological Science and Chemistry</p></td>
</tr>

<tr>
<td valign="top" ><p>9. Molecular Biology &amp; </p>

<p>Biotechnology<b><sup>$</sup></b></p></td>
<td valign="top" ><p>9. Mathematics/ Statistics, Chemistry and Biological </p>

<p>Science</p></td>
</tr>

<tr>
<td valign="top" ><p>10. Physics</p></td>
<td valign="top" ><p>10. Physics and Mathematics</p></td>
</tr>

<tr>
<td valign="top" ><p>11. Physiology</p></td>
<td valign="top" ><p>11. Biological Science</p></td>
</tr>

<tr>
<td valign="top" ><p>12. Statistics</p></td>
<td valign="top" ><p>12. Statistics/ Mathematics</p></td>
</tr>

<tr>
<td valign="top" ><p>13. Zoology</p></td>
<td valign="top" ><p>13. Biological Science</p></td>
</tr>

<tr>
<td valign="top" ><p>14. Commerce</p></td>
<td valign="top" ><p>14. Accountancy / Accounts/ Book Keeping/ </p>

<p>Business Economics including Business </p>

<p>Mathematics/ Business Mathematics/ Business </p>

<p>Organization/ Business Studies/ Commerce/ </p>

<p>Elements of Cost Accountancy and Auditing/ </p>

<p>Economics/ Financial Accounting/ Mathematics/ </p>

<p>Office Practice and Secretarial / Statistics</p></td>
</tr>

</tbody>
</table>

<p><b></b></p>

<p><b><i>Explanation</i></b>: Biological Sciences will mean : Biology /Biotechnology/ Botany/ Physio- </p>

<p><b></b>logy/Zoology/.</p>

<p><b> <sup> </sup>As incorporated on 16/05/2008</b> $<sup> </sup> <b>As amended on 27/05/2009</b> </p>

<p><b> * As amended on 28/06/2007.</b></p>

<p> <b><i>Page 3 of 11</i></b></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p><b>7.</b> <b>Some special conditions for admission to Honours Courses in Accounting and Finance, Chemistry, Economics, Education, Environmental Science<sup></sup></b>, <b>Mathematics, Media Studies<sup>#</sup></b>, <b>Microbiology, Molecular Biology, Molecular Biology &amp; Biotechnology,</b> <b>Physiology, Philosophy, and Sociology:</b></p>

<p>(i) <b>Accounting and Finance </b>: For admission to the B.Com. Honours course in Accounting and Finance the word “subject” or “related subject” shall mean the following:</p>

<p>Accountancy, Book Keeping, Business Economics including Business Mathematics, Business Mathematics, Business Organization, Business Studies, Commerce, Economics, Economic Geography, Elements of Cost Accountancy and Auditing, Financial Accounting, Mathematics, Office Practice and Secretarial, Statistics. </p>

<p>ii<b>) Chemistry :</b> A candidate shall be allowed to take up Honours in Chemistry only if he/she has passed in Chemistry, Physics and Mathematics at the previous qualifying examination.</p>

<p>iii) <b>Economics<sup>$</sup>: </b>The subjects Mathematics, Statistics<b><sup>*</sup></b> and Business Economics including Business Mathematics<b><sup>$</sup></b> be treated as related subjects. </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Special conditions for admission to a few Honours Courses</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>iv) <b>Education: </b>The subjects History, Philosophy, Political Science, Psychology and Sociology be treated as related subjects.</p>

<p>v) <b>Environmental Science<sup></sup></b>: If the candidate does not have Environmental Education/ Environmental Science/ Environmental Studies as elective subject then the subjects Biological Sciences, Chemistry, Computer Science, Economics, Geography, Geology, Mathematics, Modern Computer Application, Physics and Statistics be treated as related subjects.</p>

<p>vi) <b>Food and Nutrition<sup>$</sup></b> : A candidate taking up Honours in Food and Nutrition must take Chemistry as general subject.</p>

<p>vii) <b>Mathematics </b>: A candidate shall be allowed to take up Honours in Mathematics only if he/she has passed in Mathematics at the previous qualifying examination. A candidate who has passed in Business Mathematics is not eligible for admission to Mathematics Honours Course.</p>

<p>viii) <b>Media Studies<sup># </sup></b> : The language subject(s) studied at H.S. level be treated as related subject(s). </p>

<p>ix) <b>Microbiology: </b>A candidate taking up Honours in Microbiology must take Chemistry and any one of the following subjects:a) Botany, b) Computer Science, c) Mathematics, d) Physics, e) Physiology, f) Zoology as general subjects.</p>

<p>x)<b> Molecular Biology : </b>A candidate shall be allowed to take up Honours in Molecular Biologyonly if he/she has passed in Biological Sciences, Chemistry and any one of the following subjects : a)Mathematics, b) Statistics, c) Computer Science at the previous qualifying examination.</p>

<p>xi)<b> Molecular Biology &amp; Biotechnology</b> : A candidate taking up Honours in Molecular Biology &amp; Biotechnology must take Chemistry and any one of the following subjects: a) Botany, b) Computer Science, c) Mathematics, d) Physics, e) Physiology, f) Zoology as general subjects.</p>

<p>xii)<b> Philosophy</b> : The subject Psychology be treated as related subject.</p>

<p><b> <sup> </sup>As incorporated on 16/05/2008. </b>$<sup> </sup> <b>As amended on 27/05/2009. </b></p>

<p><b>* As amended on 26/07/2007.</b></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td> <h6>Page 4 of 11</h6>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b># As amended on 28/06/2007.</b></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p>xiii) <b>Physiology </b>: A candidate shall be allowed to take up Honours in Physiology only if he/she has passed in Biological Sciences and Chemistry at the previous qualifying examination. </p>

<p>xiv)<b> Sociology : </b>The subjects History, Philosophy, Political Science and Psychology be treated as related subjects.</p>

<p><b>8.</b> <b>Divisions of Honours and General subjects : </b></p>

<p><b>i) Humanities:</b></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Division of subjects in Humanities</i></b></p>

<p><b><i> and </i></b></p>

<p><b><i>Science streams</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Arabic<b><sup></sup></b>, Bengali, Economics, Education, English, Geography, Hindi, History, Media Studies, Philosophy, Political Science, Sanskrit, Sociology, Urdu.</p>

<p><b>ii) Science:</b></p>

<p>Botany, Chemistry, Computer Science, Defence Studies, Economics, Environmental Science<b><sup></sup>,</b> Film Studies, Food and Nutrition<b><sup>$</sup></b>, Geography, Mathematics, Microbiology, Molecular Biology, Molecular Biology &amp; Biotechnology, Physical Education, Physics, Physiology, Statistics, Zoology. </p>

<p><b> 9. A candidate taking up Honours Course for B.A. Degree shall study-</b></p>

<p>i) </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.A. Honours Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Honours in any one subject of the Humanities Division and any other two subjects in the General courses taking at least one from the Humanities Division. </p>

<p>However, other things remaining the same, a candidate may take up B.A. </p>

<p>Honours course in Geography/Economics without taking any other subject </p>

<p>from the Science Division in the General Course.</p>

<p>ii) Two Compulsory Languages.</p>

<p>iii) Environmental Studies.</p>

<p>10. A candidate taking up General Course for B.A. Degree shall study- </p>

<p><b>i) </b>Anythree subjects from the Humanities Division</p>

<h5 align="center" > <table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.A. General Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

Or</h5>

<p>Any two subjects from the Humanities Division and any one from the <br />
Science Division.</p>

<p><b> ii)</b> Two Compulsory Languages.</p>

<p><b> iii)</b> Environmental Studies.</p>

<p><b> 11. A candidate taking up Honours Course for B.Sc. Degree shall study - </b></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.Sc. Honours Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b>i) </b>Honours in any one subject from the Science Division and any other </p>

<p>two subjects in General Courses taking at least one from the Science </p>

<p>Division. </p>

<p><b> ii)</b> Two Compulsory Languages.</p>

<p><b>iii)</b> Environmental Studies</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Page 5 of 11</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p><b> <sup> </sup>As incorporated on 16/05/2008.</b> $<sup> </sup> <b>As amended on 27/05/2009</b></p>

<p><b></b></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p><b> 12. A candidate taking up General Course for B.Sc. Degree shall study – </b></p>

<p><b>i)</b> Any three subjects from the Science Division </p>

<h3 align="center" > <table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.Sc. General Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

Or</h3>

<p>Any two subjects from the Science Division and any one subject from the <br />
Humanities Division.</p>

<p><b> ii)</b> Two Compulsory Languages.</p>

<p><b> iii)</b> Environmental Studies.</p>

<p>13. A candidate taking up Honours Course for B.Com. Degree shall study-</p>

<p>i) Honours in Accounting &amp; Finance along with Group (1) and Group (2) </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.Com. Honours Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>from General Course in Commerce.</p>

<p><b>ii)</b> Two Compulsory Languages.</p>

<p><b>iii)</b> Environmental Studies.</p>

<p>14. A candidate taking up General Course for B.Com. Degree shall study-</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.Com. General Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>i) All the subjects of Group (1), Group (2) and Group (3).</p>

<p><b> ii)</b> Two Compulsory Languages.</p>

<p><b> iii)</b> Environmental Studies.</p>

<p><i> Rules for Admission to the B.A./ B.Sc./ B.Com. (Major) Degree Course</i></p>

<p><b>15</b>. A student who secures a minimum of 40% marks in the aggregate at the H.S. </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Eligibility for pursuing Major Course of studies</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>(10+2) or in an equivalent examination shall be eligible for admission to</p>

<p>B.A./ B.Sc./ B.Com. (Major) Degree Course of Studies provided he/she has </p>

<p>passed the said examination with 5 recognised subjects, of which at least one is </p>

<p>English, carrying not less than 100 as full marks.</p>

<p>However, candidates belonging to the Schedule Caste or Schedule Tribe </p>

<p>Community shall enjoy relaxation as per Government rules. </p>

<p><b><i>Page 6 of 11</i></b></p>

<p><b></b></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p><b>16.(a).</b> <b>A candidate taking up Major Course for B.A. Degree shall study</b>-</p>

<p>(i) One subject from the Humanities (Major)Division (<i>given below</i>).</p>

<p>(ii) </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.A. Major Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Two General subjects from the Humanities Division [vide Rule <b>8.(i)</b>], </p>

<p>or , one General subject from the Science Division [vide Rule <b>8.(ii)</b>], </p>

<p>and one General subject from the Humanities Division. </p>

<p>(iii) Two Compulsory Languages.</p>

<p>(iv) Environmental Studies.</p>

<p><b> 16.(b).</b> <b>A candidate taking up Major Course for B.Sc. Degree shall study-</b></p>

<p>(i) One subject from the Science (Major) Division (<i>given below</i>).</p>

<p>(ii) </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.Sc. Major Course of study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Two General subjects from Science Division [vide Rule <b>8.(ii)</b>], or, one General subject from the Science Division &amp; one General subject from the Humanities Division [vide Rule <b>8.(i)</b>] .</p>

<p>(iii) Two Compulsory Languages.</p>

<p>(iv) Environmental Studies.</p>

<p><b> 16.(c). A candidate taking up Major Course for B.Com. Degree shall study-</b></p>

<p>(i) </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>B.Com. Major Course of </i></b></p>

<p><b><i> study</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>One subject from the Commerce (Major) Division (<i>given below</i>).</p>

<p>(ii) All subjects of B.Com. General Course excepting those in Group(2).</p>

<p>(iii) Two Compulsory Languages.</p>

<p>(iv) Environmental Studies.</p>

<p><b>Major subjects under different divisions shall be as follows :</b></p>

<h4>D i v i s i o n S u b j e c t s</h4>

<p>( I ) Humanities Advertising, Sales Promotion &amp; Sales </p>

<p>Management, Communicative English, Computer </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Division of Major subjects in Humanities/</i></b></p>

<p><b><i>Commerce/</i></b></p>

<p><b><i>Science streams</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Applications, Tourism and Travel Management, </p>

<p>(II) Science Advertising, Sales Promotion and Sales </p>

<p>Management, Computer Applications, </p>

<p>Sericulture.</p>

<p>(III) Commerce Advertising, Sales Promotion &amp; Sales </p>

<p>Management, Computer Applications, Office </p>

<p>Management &amp; Secretarial Practice, Tourism &amp; </p>

<p>Travel Management.</p>

<p><i>Page 7 of 11</i></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p><b>17.</b> Students of B.A./B.Sc./B.Com. (Major) Degree Course of Studies must have studied </p>

<p>subject(s) at H.S. Level and shall have to take up subject combination during graduation as indicated hereunder and in conformity with Rules (<b>5</b>)and (<b>16</b>).</p>

<br />
<p><b> Major General Subject(s) studied </b></p>

<p><b> at H.S. Level</b></p>

<br />
<p>1.Advertising, Sales All subjects of B.Com. Any subject</p>

<p>Promotion &amp; Sales General course excepting </p>

<p>Management. those of Group (2), or, two</p>

<p>subjects of B.A. General</p>

<p>course, or, two subjects </p>

<p>of B.Sc. General course.</p>

<p>2. Communicative English English English</p>

<p>3. Computer Applications All subjects of B.Com. Any subject</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Subject combination for B.A./B.Sc./B.Com. (Major) Courses of studies</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>General course excepting</p>

<p>those of Group (2), or, two </p>

<p>subjects of B.A.General </p>

<p>course, or, two subjects </p>

<p>of B.Sc. General course.</p>

<p>4. Office Management &amp; -DO- Any Commerce </p>

<p>Secretarial Practices subject</p>

<table cellpadding="0" cellspacing="0" align="left"> 
<tbody>
<tr>
<td></td>
</tr>

<tr>
<td></td>
<td></td>
</tr>

</tbody>
</table>

<br />
<p>5. Sericulture Botany, Zoology Physics, </p>

<p>Chemistry, </p>

<p>Biology</p>

<p>6. Tourism &amp; Travel All subjects of B.Com. (General) Any Subject</p>

<p>Management course excepting those of </p>

<p>Group (2), or , two subjects </p>

<p>of B.A. General course.</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Subject/ stream/ course change </i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>18. Candidates may be allowed to change subject/stream/course in their first year of study, subject to approved intake capacities and various clauses of these rules, by the Principals of respective colleges before submission of Registration Form to the University or any date specified by the University, whichever is earlier. No change will be entertained after that date.<sup> $</sup> </p>

<p>$<sup> </sup> As amended on 27/05/2009.</p>

<p><i>Page 8 of 11</i></p>

<p><i>The University of Kalyani Undergraduate Admission Rules – 2007</i></p>

<p><i> (Amended upto 27/05/2009)</i></p>

<p><b> 19. Re-enrolment in the 1<sup>st</sup>/2<sup>nd</sup>/3<sup>rd</sup> Year Classes<sup></sup></b></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td> <h1><i>Re-enrolment</i></h1>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>If a student completes regular course of study for B.A./B.Sc./B.Com. Part-I/II/III Honours/General/Major examination but for any reason fails to enrol himself/herself for the Part-I/II/III examination, he/she shall be required to re-enrol himself/herselfin the1<sup>st</sup>/2<sup>nd</sup>/3<sup>rd</sup> year class respectively in the following session within 15 days from the last date of admission for regular students of that class. However, not more than one chance of such re-enrolment shall be allowed for a candidate. The college authorities must get such students enrolled for examination within two months of their re-enrolment in class.</p>

<p><b> 20. Provisional Enrolment in the 2<sup>nd</sup>/3<sup>rd</sup> Year Classes<sup></sup></b></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Provisional Enrolment</i></b></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>Candidates appearing at Part-I/II examinations shall be enrolled provisionally in the 2<sup>nd</sup> /3<sup>rd</sup> year classes respectively within 15 days form the date of completion of the said examinations, failing which such candidates shall not be enrolled on any subsequent dates and they shall be deemed to have discontinued study.</p>

<p>21. Admission on Transfer<sup></sup><sup></sup></p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><i>Transfer Certificate Required</i></p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>If a student has been admitted to a college, he/she shall not, except as otherwise provided in the Ordinances, be subsequently admitted to any other college without the production of a Transfer Certificate from the Principal of the college in which he/she studied last.</p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td><p><b><i>Bar to and Time of Taking Transfer to</i></b></p>

<p><b><i>a College</i></b> </p>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>

<p>A student admitted to a college, shall not ordinarily be allowed to take transfer to any other college, except at the end of the academic year.</p>

<p>If an application for transfer is made at any time, other than at the end of an academic year, on the ground of (a) transfer of the parent or guardian of the student from the station at which the college is situated, or (b) desirability of a change of climate or station on the ground of health supported by proper medical evidence, or (c) any other sufficient reason, the Principal may grant the transfer.</p>

<p>Admission on Transfer should abide by the following stipulations :</p>

<p>(i) A candidate taking transfer from one college to another is required to pursue the same course of study with identical subject combination in both the colleges; </p>

<table cellpadding="0" cellspacing="0"> 
<tbody>
<tr>
<td > <table cellpadding="0" cellspacing="0" width="100%"> 
<tbody>
<tr>
<td> <h2 align="left"><i>Stipulations</i></h2>

</td>
</tr>

</tbody>
</table>

</td>
</tr>

</tbody>
</table>